#access_count { display: none; }
html body .markdown-preview {
    transform: none !important;
    left:0 !important;
}
body {
    padding: 0 16% !important;
}
.indent {
    padding-left:2em;
}
body p, body ul{
    font-size: 1em !important;
    line-height: 1.8em !important;
}
mark {
    font-size: 110%;
    padding: 0 0.2em;
    white-space: nowrap;
}
strong {
    display: inline-block;
}
@media screen and (min-width: 914px) {
    html body .markdown-preview {
        padding: 2em 10% !important;
    }
    body p, body li{
        font-size: 1.4rem !important;
    }
}
#space {height: 6rem;}
#o-header {
    position: fixed;
    top:80px; right:5%; 
    padding:1rem 1.75rem 1rem 2.5rem;
    border-radius: 3rem;
    border: 2px solid rgba(0,0,0,0.2);
    background-color:#fff; 
}
mark {
    opacity: 0;
    color: white;
    background-color: white;
}
.mark-show {
    opacity: 1;
    color: #F06060;
}
#label {
    position: relative;
    cursor: pointer;
    font-size: 1.2rem;
}
#label::before {
    content: "";
    display: inline-block;
    width: 1em; height: 1em;
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    position: absolute; top:0; left:0;
    transform: translate(-40%, -1px);
    z-index: 12;
}
#label::after {
    content: "";
    border-bottom: 5px solid #fff;
    border-left: 5px solid #fff;
    opacity: 0;
    height: 0.38em; width: 0.78em;
    position: absolute; top:0; left:0;
    transform: translate(-37%, 3px) rotate(-45deg);
    z-index: 15;
}
#show {display: none;}
#show:checked ~ #label::before {
    background-color: #6bbaf0;
    border: 2px solid rgba(0, 0, 0, .08627);
}
#show:checked ~ #label::after {
    opacity: 1;
}
@media screen and (max-width: 480px) {
    body {
        padding: 1em !important;
    }
    #o-header {
        bottom:0; left:0; right:0; top:90%;
        text-align:center;
        background-color:#fff;
        border-top: 2px solid rgba(0,0,0,0.2);
        padding-top: 1rem;
        border-bottom:none;
        border-right:none;
        border-left:none;
        border-radius:0;
    }
}

@media print {
    body {
        padding: 0 !important;
    }
    #o-header {
        visibility: hidden;
    }
    .print {
        display: none;
    }
}